* {
  background-color: #F4A261;
  color: white;
}

nav ul li.active {
  color: #264653;
}
ul{
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  flex-direction: row;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.contentWrap{
  flex: 1;

}
.nameHeader {
  color: #264653;
  text-align: center;
  padding: 50px;
}

.aboutLink {
  color: #264653;
}

footer {
  background-color: #264653;
  font-size: larger;
  color: white;
  text-align: center;
  padding: 20px;
}